<% provide(:title, 'Contact Us | Full Ride Central') %>
<% provide(:article_title, 'Contact Us') %>
<%content_for :article do %>

<p><strong>General Questions and Comments:</strong></p>
<p>Contact us at [email address does not yet exist]</p>
<p><strong>Tips and Corrections:</strong></p>
<p>Is there any information on our site that is out of date, or a scholarship that we&#8217;ve missed?  Just leave us some information on it [form or email address does not yet exist], and we&#8217;ll gladly update it!</p>
<p>Please include:</p>
<ul>
<li>Name of college or university</li>
<li>Name of scholarship</li>
<li>Link to page containing info on the scholarship</li>
<li>Any important info not included in link (esp. scholarship amount, requirements, etc.)</li>
</ul>
<p>Thank you!</p>
<% end %>
<%= render template: "layouts/article" %>