<% provide(:title, 'Full Ride Central | Search for full ride and full tuition academic scholarships') %>
<%content_for :content do %>
<div id="customizr-slider" class=" carousel slide">

        <div class="carousel-inner">
              
          
            <div class="item active">

              <div class="carousel-image slider-full"><img width="1280" height="500" src="http://fullridecentral.com/wp-content/uploads/2013/12/st-john-college-1280x500.jpg" class="attachment-slider-full" alt="st-john-college" /></div>
              <div class="carousel-caption"><h1 >Find Full Ride and Full Tuition Scholarships</h1> <p class="lead" >Not sure how you&#039;re going to pay for college? Let Full Ride Central help you.</p> <a class="btn btn-large btn-primary" href="http://fullridecentral.com/scholarships/">Start your Search</a></div>
            </div><!-- /.item -->

          
        </div><!-- /.carousel-inner -->

                
      </div><!-- /#customizr-slider -->
            
      <div id="main-wrapper" class="container">

        
    <div class="container" role="main">
        <div class="row">

                            
                <div id="content" class="span9 article-container">
                    
                    
                        
                        
                    
      
      
                </div><!--.article-container -->

           
        </div><!--.row -->
    </div><!-- .container role: main -->

    
</div><!--#main-wrapper"-->
<% end %>