<% provide(:title, 'My Profile | Full Ride Central') %>
<% provide(:article_title, "Profile") %>
<% content_for :article do %>             
  <article id="page-24" class="post-24 page type-page status-publish hentry row-fluid">
    <p>This page&#8217;s contents not yet dealt with.</p>
  </article>
<% end %>