<% provide(:title, 'My Profile | Full Ride Central') %>
<% provide(:article_title, "Profile") %>
	<% content_for :article do %>
    	<p>This page&#8217;s contents not yet dealt with.</p>
    <% end %>
<%= render template: "layouts/article" %>