<footer id="footer" class="">
	<div class="colophon">
		<div class="container">
		 	<div class="row-fluid">
				<div class="span4 social-block pull-left"><a class="social-icon icon-feed" href="http://fullridecentral.com/feed/rss/" title="Suscribe to my rss feed"  ></a></div><div class="span4 credits"><p> &middot; &copy; 2014 <%= link_to('Full Ride Central', '/pages/home', title:"Full Ride Central", rel:"bookmark")%> &middot; Designed by <a href="http://www.themesandco.com/">Themes &amp; Co</a> &middot;</p></div><div class="span4 backtop"><p class="pull-right"><%= link_to('Back to top', '#', class:'back-to-top')%></p></div>
			</div><!-- .row-fluid -->
      	</div><!-- .container -->
    </div><!-- .colophon -->
</footer>