<!DOCTYPE html>
<!--[if IE 7]>
<html class="ie ie7" lang="en-US">
<![endif]-->
<!--[if IE 8]>
<html class="ie ie8" lang="en-US">
<![endif]-->
<!--[if !(IE 7) | !(IE 8)  ]><!-->
<html lang="en-US">                          
<!--<![endif]-->
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE" />
		
		<title><%= yield(:title) %></title>
		
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="profile" href="http://gmpg.org/xfn/11" />
		<link rel="pingback" href="http://fullridecentral.com/xmlrpc.php" />
		   
		<!-- Icons font support for IE6-7  -->
		<!--[if lt IE 8]>
			<script src="http://fullridecentral.com/wp-content/themes/customizr/inc/css/fonts/lte-ie7.js"></script>
		<![endif]-->
		<link rel="alternate" type="application/rss+xml" title="Full Ride Central &raquo; Feed" href="http://fullridecentral.com/feed/" />
		<link rel="alternate" type="application/rss+xml" title="Full Ride Central &raquo; Comments Feed" href="http://fullridecentral.com/comments/feed/" />

        <script type="text/javascript">//<![CDATA[
            // Google Analytics for WordPress by Yoast v4.3.3 | http://yoast.com/wordpress/google-analytics/
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-46793100-1']);
				            _gaq.push(['_trackPageview']);
            (function () {
                var ga = document.createElement('script');
                ga.type = 'text/javascript';
                ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';

                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(ga, s);
            })();
        	//]]>
        </script>
		<link rel='stylesheet' id='customizr-skin-css'  href='http://fullridecentral.com/wp-content/themes/customizr/inc/css/blue.css?ver=3.1.4' type='text/css' media='all' />
		<link rel='stylesheet' id='customizr-style-css'  href='http://fullridecentral.com/wp-content/themes/customizr/style.css?ver=3.1.4' type='text/css' media='all' />
		<link rel='stylesheet' id='fancyboxcss-css'  href='http://fullridecentral.com/wp-content/themes/customizr/inc/js/fancybox/jquery.fancybox-1.3.4.min.css?ver=3.8' type='text/css' media='all' />
		<script type='text/javascript' src='http://fullridecentral.com/wp-includes/js/jquery/jquery.js?ver=1.10.2'></script>
		<script type='text/javascript' src='http://fullridecentral.com/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.2.1'></script>
		<script type='text/javascript' src='http://fullridecentral.com/wp-content/themes/customizr/inc/js/modernizr.min.js'></script>
		<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://fullridecentral.com/xmlrpc.php?rsd" />
		<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://fullridecentral.com/wp-includes/wlwmanifest.xml" />
		<meta name="generator" content="WordPress 3.8" />
		<style type="text/css">.recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}</style>

        
        
        <!--Icons size hack for IE8 and less -->
		<!--[if lt IE 9]>
			<link href="http://fullridecentral.com/wp-content/themes/customizr/inc/css/fonts/ie8-hacks.css" rel="stylesheet" type="text/css"/>
		    <![endif]-->
	</head>
		
	<body class="blog" itemscope itemtype="http://schema.org/WebPage" >
		
		<%= render 'layouts/site_header'%>
	   	
		<!-- Begin dynamic content -->
		<%= yield(:content) %>
		<!-- End dynamic content -->
		<%= render 'layouts/site_footer'%>
	<!-- FOOTER -->
<script type='text/javascript' src='http://s0.wp.com/wp-content/js/devicepx-jetpack.js?ver=201401'></script>
<script type='text/javascript' src='http://fullridecentral.com/wp-includes/js/jquery/ui/jquery.ui.core.min.js?ver=1.10.3'></script>
<script type='text/javascript' src='http://fullridecentral.com/wp-content/themes/customizr/inc/js/bootstrap.min.js'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var TCParams = {"FancyBoxState":"1","FancyBoxAutoscale":"1","SliderName":"alternate","SliderDelay":"5000","SliderHover":"1","SmoothScroll":"linear"};
/* ]]> */
</script>
<script type='text/javascript' src='http://fullridecentral.com/wp-content/themes/customizr/inc/js/tc-scripts.min.js'></script>
<script type='text/javascript' src='http://fullridecentral.com/wp-content/themes/customizr/inc/js/holder.js'></script>
<script type='text/javascript' src='http://fullridecentral.com/wp-content/themes/customizr/inc/js/fancybox/jquery.fancybox-1.3.4.min.js'></script>
<script type='text/javascript' src='http://fullridecentral.com/wp-content/themes/customizr/inc/js/retina.min.js'></script>
	</body>
</html>
