<!DOCTYPE html>
<!--[if IE 7]>
<html class="ie ie7" lang="en-US">
<![endif]-->
<!--[if IE 8]>
<html class="ie ie8" lang="en-US">
<![endif]-->
<!--[if !(IE 7) | !(IE 8)  ]><!-->
<html lang="en-US">                          
<!--<![endif]-->

			<head>
		    <meta charset="UTF-8" />
		    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE" />
		    <title><%= yield(:title) %></title>
		    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		    <link rel="profile" href="http://gmpg.org/xfn/11" />
		    <link rel="pingback" href="http://fullridecentral.com/xmlrpc.php" />
		   
		   <!-- Icons font support for IE6-7  -->
		    <!--[if lt IE 8]>
		      <script src="http://fullridecentral.com/wp-content/themes/customizr/inc/css/fonts/lte-ie7.js"></script>
		    <![endif]-->
		    <link rel="alternate" type="application/rss+xml" title="Full Ride Central &raquo; Feed" href="http://fullridecentral.com/feed/" />
<link rel="alternate" type="application/rss+xml" title="Full Ride Central &raquo; Comments Feed" href="http://fullridecentral.com/comments/feed/" />

            <script type="text/javascript">//<![CDATA[
            // Google Analytics for WordPress by Yoast v4.3.3 | http://yoast.com/wordpress/google-analytics/
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-46793100-1']);
				            _gaq.push(['_trackPageview']);
            (function () {
                var ga = document.createElement('script');
                ga.type = 'text/javascript';
                ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';

                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(ga, s);
            })();
            //]]></script>
			<link rel='stylesheet' id='customizr-skin-css'  href='http://fullridecentral.com/wp-content/themes/customizr/inc/css/blue.css?ver=3.1.4' type='text/css' media='all' />
<link rel='stylesheet' id='customizr-style-css'  href='http://fullridecentral.com/wp-content/themes/customizr/style.css?ver=3.1.4' type='text/css' media='all' />
<link rel='stylesheet' id='fancyboxcss-css'  href='http://fullridecentral.com/wp-content/themes/customizr/inc/js/fancybox/jquery.fancybox-1.3.4.min.css?ver=3.8' type='text/css' media='all' />
<script type='text/javascript' src='http://fullridecentral.com/wp-includes/js/jquery/jquery.js?ver=1.10.2'></script>
<script type='text/javascript' src='http://fullridecentral.com/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.2.1'></script>
<script type='text/javascript' src='http://fullridecentral.com/wp-content/themes/customizr/inc/js/modernizr.min.js'></script>
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://fullridecentral.com/xmlrpc.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://fullridecentral.com/wp-includes/wlwmanifest.xml" /> 
<meta name="generator" content="WordPress 3.8" />
	<style type="text/css">.recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}</style>

        
        
        		    <!--Icons size hack for IE8 and less -->
		    <!--[if lt IE 9]>
		      <link href="http://fullridecentral.com/wp-content/themes/customizr/inc/css/fonts/ie8-hacks.css" rel="stylesheet" type="text/css"/>
		    <![endif]-->
		</head>
		
	<body class="blog" itemscope itemtype="http://schema.org/WebPage" >
		
		
	   	<header class="tc-header clearfix row-fluid" role="banner">
			
			
		
	    	
	        <div class="brand span3 pull-left">

	        	<h1><a class="site-title" href="http://fullridecentral.com/" title="Full Ride Central | Search for full ride and full tuition academic scholarships.">Full Ride Central</a></h1>
	        </div> <!-- brand span3 pull-left -->

	        
	   
	   
	   <div class="container outside"><h2 class="site-description">Search for full ride and full tuition academic scholarships.</h2></div>
      	<div class="navbar-wrapper clearfix span9">

      		<div class="navbar notresp row-fluid pull-left">
      			<div class="navbar-inner" role="navigation">
      				<div class="row-fluid">
            			<div class="social-block span5"><a class="social-icon icon-feed" href="http://fullridecentral.com/feed/rss/" title="Suscribe to my rss feed"  ></a></div><h2 class="span7 inside site-description">Search for full ride and full tuition academic scholarships.</h2><div class="nav-collapse collapse tc-hover-menu-wrapper"><div class="menu-main-menu-container"><ul id="menu-main-menu" class="nav tc-hover-menu"><li id="menu-item-18" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-18"><a href="http://fullridecentral.com/" >Home</a></li>
<li id="menu-item-9" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9"><a href="http://fullridecentral.com/about/" >About</a></li>
<li id="menu-item-17" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-17"><a href="http://fullridecentral.com/scholarships/" >Scholarships</a></li>
<li id="menu-item-27" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-27"><a href="http://fullridecentral.com/profile/" >My Profile</a></li>
<li id="menu-item-16" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16"><a href="http://fullridecentral.com/contact/" >Contact Us</a></li>
</ul></div></div>            		</div><!-- .row-fluid -->
            	</div><!-- /.navbar-inner -->
            </div><!-- /.navbar notresp -->

            <div class="navbar resp">
            	<div class="navbar-inner" role="navigation">
            		<div class="social-block ">
            			<a class="social-icon icon-feed" href="http://fullridecentral.com/feed/rss/" title="Suscribe to my rss feed"  ></a>
            		</div>
            		<h2 class="span7 inside site-description">Search for full ride and full tuition academic scholarships.</h2>
            		<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            			<span class="icon-bar"></span>
            			<span class="icon-bar"></span>
            			<span class="icon-bar"></span>
            		</button><div class="nav-collapse collapse tc-hover-menu-wrapper">
            		<div class="menu-main-menu-container">
            			<ul id="menu-main-menu-1" class="nav tc-hover-menu">
            				<li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-18">
            					<a href="http://fullridecentral.com/" >Home</a>
            				</li>
							<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9">
								<a href="http://fullridecentral.com/about/" >About</a>
							</li>
							<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-17">
								<a href="http://fullridecentral.com/scholarships/" >Scholarships</a>
							</li>
							<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-27">
								<a href="http://fullridecentral.com/profile/" >My Profile</a>
							</li>
							<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16">
								<a href="http://fullridecentral.com/contact/" >Contact Us</a>
							</li>
</ul></div></div>            	</div><!-- /.navbar-inner -->
      		</div><!-- /.navbar resp -->

    	</div><!-- /.navbar-wrapper -->

        
		</header>
		<!-- Begin dynamic content -->
		<%= yield %>
		<!-- End dynamic content

	<!-- FOOTER -->
	<footer id="footer" class="">
	 	    			 <div class="colophon">
		 	<div class="container">
		 		<div class="row-fluid">
				    <div class="span4 social-block pull-left"><a class="social-icon icon-feed" href="http://fullridecentral.com/feed/rss/" title="Suscribe to my rss feed"  ></a></div><div class="span4 credits"><p> &middot; &copy; 2014 <a href="http://fullridecentral.com" title="Full Ride Central" rel="bookmark">Full Ride Central</a> &middot; Designed by <a href="http://www.themesandco.com/">Themes &amp; Co</a> &middot;</p></div><div class="span4 backtop"><p class="pull-right"><a class="back-to-top" href="#">Back to top</a></p></div>      			</div><!-- .row-fluid -->
      		</div><!-- .container -->
      	</div><!-- .colophon -->
    		</footer>
<script type='text/javascript' src='http://s0.wp.com/wp-content/js/devicepx-jetpack.js?ver=201401'></script>
<script type='text/javascript' src='http://fullridecentral.com/wp-includes/js/jquery/ui/jquery.ui.core.min.js?ver=1.10.3'></script>
<script type='text/javascript' src='http://fullridecentral.com/wp-content/themes/customizr/inc/js/bootstrap.min.js'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var TCParams = {"FancyBoxState":"1","FancyBoxAutoscale":"1","SliderName":"alternate","SliderDelay":"5000","SliderHover":"1","SmoothScroll":"linear"};
/* ]]> */
</script>
<script type='text/javascript' src='http://fullridecentral.com/wp-content/themes/customizr/inc/js/tc-scripts.min.js'></script>
<script type='text/javascript' src='http://fullridecentral.com/wp-content/themes/customizr/inc/js/holder.js'></script>
<script type='text/javascript' src='http://fullridecentral.com/wp-content/themes/customizr/inc/js/fancybox/jquery.fancybox-1.3.4.min.js'></script>
<script type='text/javascript' src='http://fullridecentral.com/wp-content/themes/customizr/inc/js/retina.min.js'></script>
	</body>
</html>
