             
<%content_for :content do %>
  <article id="page-7" class="post-7 page type-page status-publish hentry row-fluid">
                                          
    <header class="entry-header">
            
      <h1 class="entry-title format-icon"> <%yield(:article_title) or @page_title or "Full Ride Central"%>  </h1><hr class="featurette-divider __before_content">
    </header><!-- .entry-header -->

    <div class="entry-content">
      <%yield(:article)%>
    </div>
  </article>
<% end %>
<%= render template: "layouts/application" %>